<header role="banner" data-siteid="MLA" class="nav-header nav-header-plus">
    <div class="nav-bounds nav-bounds-with-cart nav-bounds-with-cp">
        <a class="nav-logo" href="//www.mercadolibre.com.ar" tabindex="2">Mercado Libre Argentina - Donde comprar y vender de todo</a>
        <input type="text" class="nav-search-input" aria-label="Ingresá lo que quieras encontrar" name="as_word" placeholder="Buscar productos, marcas y más…" maxlength="120" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="3"
            value="applw ipod" [(ngModel)]="textToSearch" required>
        <button type="submit" class="nav-search-btn" tabindex="4" id="btnSearch" (click)="buttonClicked()"><div role="img" aria-label="Buscar" class="nav-icon-search"></div></button>
    </div>
</header>