<div class="container">

    <ol class="ui-search-layout ui-search-layout--stack">

        <li class="ui-search-layout__item" *ngFor="let item of listProduct | slice:0:4;">
            <div class="ui-search-result__wrapper">
                <div class="andes-card andes-card--flat andes-card--default ui-search-result ui-search-result--core andes-card--padding-default">
                    <div class="ui-search-result__image">
                        <a (click)="itemClick(item.id)" class="ui-search-link" title="{{item.title}}">
                            <div class="carousel-container arrow-visible">
                                <div class="slick-initialized slick-slider">
                                    <div role="presentation" class="slick-list">
                                        <div class="slick-track">
                                            <div data-index="0" class="slick-slide slick-active" tabindex="-1">
                                                <img width="160" height="160" src="{{item.image}}" class="ui-search-result-image__element" alt="{{item.title}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="ui-search-result__content-wrapper">
                        <div class="ui-search-result__content-columns">
                            <div class="ui-search-result__content-column ui-search-result__content-column--left">
                                <div class="ui-search-item__group ui-search-item__group--price">
                                    <div class="ui-search-price ui-search-price--size-medium ui-search-item__group__element">
                                        <div class="ui-search-price__second-line"><span class="price-tag ui-search-price__part">
                                            <span class="price-tag-symbol">$</span><span class="price-tag-fraction">{{item.price | number:'1.1-2':'es-Ar'}}</span></span>
                                            <span class="ui-search-price__second-line__label"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ui-search-item__group ui-search-item__group--title">
                            <a (click)="itemClick(item.id)" class="ui-search-item__group__element ui-search-link" title="{{item.title}}">
                                <h2 class="ui-search-item__title">{{item.title}}&nbsp;</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>

<div [innerHTML]="response | prettyjson"></div>